/*your stylesheet here*/

body { 
  background: #ccc;
  padding-top: 45px;
  padding-bottom: 48px;
  margin: 0;
  border: 0;
}

.navbar-fixed-top {
  background: orange;
  color: #eee;
  text-align: center;
  height: 45px;
}

.navbar-fixed-bottom {
  text-align: center;
  height: 48px;
  background: #444;
  color: #eee;
}


