<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="orangee-ui.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body onload="orangee.init(app.init);">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="header_target"></div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="oge-videowrapper">
          <video id='player_target'></video>
          <object classid="clsid:SAMSUNG-INFOLINK-PLAYER"></object>
        </div>
      </div>
    
      <div class="col-xs-6">
        <div id="videos_target"></div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    footer
  </nav>

  <script id="header_template" type="text/html">
    hello <%= name %>
  </script>
  <script id="videos_template" type="text/html">
    <ul class="scroller">
    <% _.each(items, function(item, index){ %> 
      <li><a href='#' onclick="app.switchVideo(<%= index %>)"><%= item.name %></a></li>
    <% }); %>
    </ul>
  </script>

  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="backbone.marionette.min.js"></script>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="orangee.js"></script>
  <script type="text/javascript" src="orangee-ui.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
