<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="lib/orangee-ui.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />

  <!-- samsung smart tv specific stuff: -->
  <object id='pluginAudio' border=0 classid='clsid:SAMSUNG-INFOLINK-AUDIO'></object>
  <object id='pluginObjectTVMW' border=0 classid='clsid:SAMSUNG-INFOLINK-TVMW'></object>
  <object id='pluginObjectNNavi' border=0 classid='clsid:SAMSUNG-INFOLINK-NNAVI' style='  opacity:0.0;background-color:#000000;width:0px;height:0px;'></object>
  <object id='pluginWindow' classid='clsid:SAMSUNG-INFOLINK-WINDOW' style='visibility:hidden; position:absolute; width: 0; height: 0; opacity: 0;'></object>
  <object id='pluginObjectNetwork' border='0' classid='clsid:SAMSUNG-INFOLINK-NETWORK'></object>
  <object id='pluginObjectTV' border=0 classid='clsid:SAMSUNG-INFOLINK-TV'  style='opacity:0.0;background-color:#000000;width:0px;height:0px;'></object>
  <object id='pluginPlayer' border=0 classid='clsid:SAMSUNG-INFOLINK-PLAYER'  style='visibility:hidden; position:absolute; width: 0; height: 0; opacity: 0;'></object>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="header_view" class="navbar-brand"></div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 nopadding">
        <div id="video_view" class="embed-responsive embed-responsive-16by9"></div>
        <div>OrangeeJS example app</div>
      </div>

      <div class="col-xs-6 nopadding">
        <ul class="list-group" id="list_view"></ul>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    footer
  </nav>

  <script type="text/html" id="header_template">
    hello <%= name %>
  </script>

  <script type="text/html" id="listitem_template">
    <li class="list-group-item"><%= name %></li>
  </script>

  <!-- An id is required for video tag to used with youtube api. -->
  <script type="text/html" id="video_template">
    <video id='myvideo'></video>
  </script>

  <script type="text/javascript" src="lib/jquery.min.js"></script>
  <script type="text/javascript" src="lib/underscore-min.js"></script>
  <script type="text/javascript" src="lib/backbone-min.js"></script>
  <script type="text/javascript" src="lib/backbone.marionette.min.js"></script>
  <script type="text/javascript" src="lib/backbone.paginator.min.js"></script>
  <script type="text/javascript" src="lib/backbone.select.min.js"></script>
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script><!-- Only if you want to use youtube -->
  <script type="text/javascript" src="lib/orangee.js"></script>
  <script type="text/javascript" src="lib/orangee-ui.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script>
    //wrap initialization code into this special function only if you want to use youtube
    function onYouTubeIframeAPIReady() { 
      $(function () {
        orangee.init(App.init);
      });
    }
  </script>
</body>
</html>
