{
  "name": "{{name}}",
  "package": "com.smarttvjs.{{name}}",
  "version": "0.0.0",
  "category": "video",
  "description": "",
  "samsung_vm": "2014_Smart_TV_Emulator_5_0",
  "android_vm": "Samsung Galaxy S4 - 4.3 - API 18 - 1080x1920",
  roku: {
    ip: "192.168.1.103",
    password: "password",
  },
  "cordova_plugins": [
    "org.apache.cordova.device"
  ]
}
